html{
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
}

.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);/*1fr 1fr 1fr;*/
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  width: 80%;
  margin: 10px 10%;
  border: 1px solid grey;
  background: grey;
  padding: 5px;
}

.main-img-div{
  grid-column: 1/3;
}

.main-img-div img{
  width: 100%;
}

.list-container{
  height: 20vw;
  overflow-y: auto;
}

.list-div{
  grid-column: 3/4;
  grid-row: 1/3;
  background: lightgrey;
}

.container .foot-div{
  grid-column: 1/4;
}

.container .foot-div button {
  width: 100%;
}

.item{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  grid-column-gap: 5px;
  padding: 2px;
  background: white;
}

.item img{
  grid-column: 1/2;
  grid-row: 1/3;
  width: 100%;
  border-right: 1px solid black;
  /* margin-right: 2px; */
}

.item h3{
  margin-bottom: 0;
}

.item p{
  margin-top: 0;
}
